/* === Image Section === */
.section {
    width: 100%;
    overflow: hidden;
}

.section img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: block;
}

/* === Divider === */
.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    height: 6px;
    background: linear-gradient(to left, #489dac, transparent);
    margin: 5px;
}

.divider::after {
    background: linear-gradient(to right, #489dac, transparent);
}


/* === History section === */
.history-section {
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.history-container {
    max-width: 900px;
    margin: 0 auto;
}

/* Two-column layout */
.history-columns {
    display: flex;
    align-items: stretch; /* This ensures all children match height */
    justify-content: center;
    gap: 30px;
    min-height: 100%; /* Ensures it expands */
}

/* Left and right columns */
.history-left, .history-right {
    flex: 1;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
}

/* Vertical line divider */
.history-divider {
    width: 5px;
    background-color: #C2171F;
    opacity: 0.6;
}